


.navbar{
  display: flex;
  list-style-type: none;
  padding: 10px;
  justify-content: space-between;
  margin-left: 40%;
  margin-right: 30%;
  padding-bottom: 10px;
  
}
body{
  background-color: aqua;
  
}
.mimo{
  display: flex;
  float: right;
  margin-top: -20%;
  margin-right: 20%;
  line-height: 18px;
}



.home >img{
  margin-left: 10%;
 
}
.skills{
  padding-bottom: 10px;
  padding-top: -40px;
  box-shadow: 1.4px 1.4px 1.4px  1.4px black;
  
}
.skills >img{
justify-content: space-around;

}

.react{
  margin-left: 5px;
  margin-top: 5%;

}
.angular{
  margin-left: 30%;
  margin-top: -20%;
}
.django{
  margin-left: 60%;
  margin-top: -16%;

}
.flask{
  margin-left: 80%;
  margin-top: -10%;
}
.python{
 margin: 1%;
  margin-top: 15%;
}
.html{
  margin-left: 30%;
  margin-top: -15%;
}
.javascript{
  margin-left: 60%;
  margin-top: -18%;
}
.postgress{
  margin-left: 80%;
  margin-top: -16%;
}
.project button{
  display: flex;
 
 
  
}
.delani{
  margin-left: 30%;
  margin-top: 40px;
}
.awards{
  margin-left: 80%;
  margin-top: -5%;
}
.hood{
  margin-left: 50%;
  margin-top: -50px;
 
}
.quote{
  margin-left: 80% ;
  margin-top: -60px;
}
.insta{
  margin-left: 30%;
  padding-top: 5%;
}
.letuce{
  margin-left:50% ;
  margin-top: -5%;
}
