


.navbar{
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin-left: 60%;
  
}
.navbar >li{
 
cursor: pointer;
text-decoration: aqua;
}



.home >img{
  margin-left: 10%;
}

.skills >img{
justify-content: space-around;

}
.react{
  margin-left: 5px;
  margin-top: 5%;
}
.angular{
  margin-left: 30%;
  margin-top: -20%;
}
.django{
  margin-left: 60%;
  margin-top: -16%;
}
.flask{
  margin-left: 80%;
  margin-top: -10%;
}
.python{
 margin: 1%;
  margin-top: 15%;
}
.html{
  margin-left: 30%;
  margin-top: -15%;
}
.javascript{
  margin-left: 60%;
  margin-top: -18%;
}
.postgress{
  margin-left: 80%;
  margin-top: -16%;
}
